:root {
    --primary: #D91414;
    --bg: #010101;
    --secondary: #D9814E;
    --sub_1: #79A383;
    --white: #F2EDDC;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    
    background-color: var(--bg);
    color: var(--white);
    min-height: 2000px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
}

.navbar .navbar-logo span {
    color: var(--primary)
}

.navbar .navbar-nav a {
    color: var(--white);
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 2.5rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: var(--white);
    margin: 0 1rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/* Hero Section */

.hero {
    content: '';
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../../Resources/dark-light2021-GfPlLAsAGnA-unsplash.jpg');
    background-size: cover;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1 ,1 , 3, 1) 8%, rgba(255, 255, 252, 0) 50%)
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5em;
    color: var(--white);
    text-shadow: 1px 1px 3px rgba(1,1,1,0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--primary);

}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
    font-weight: 100;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1,1,1,0.5);
}

/* About Section */
.about {
    padding: 8rem 7% 1.4rem;
}

.about h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;

}
.about .row .about-img {
    flex: 1 1 40rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6;
}
/* Media queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 80%;
    }
    
}

/* Tablet */
@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--white);
        width: 20rem;
        height: 100vh;
        transition: 0.25s;
        font-size: 40rem;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }
    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2)
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 20rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    } 
    
    .about .row .content p {
        font-size: 1.6rem;
    }
}


/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
    .navbar .navbar-nav {
        font-size: 30rem;
    }
    
}